[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ISOpureR"]
	path = ISOpureR
	url = https://github.com/cran/ISOpureR
[submodule "OmicsQC"]
	path = OmicsQC
	url = https://github.com/cran/OmicsQC
[submodule "SeqKat"]
	path = SeqKat
	url = https://github.com/cran/SeqKat
[submodule "VennDiagram"]
	path = VennDiagram
	url = https://github.com/cran/VennDiagram
[submodule "bedr"]
	path = bedr
	url = https://github.com/cran/bedr
[submodule "iSubGen"]
	path = iSubGen
	url = https://github.com/cran/iSubGen
