[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "bedr"]
	path = bedr
	url = https://github.com/cran/bedr
[submodule "CancerEvolutionVisualization"]
	path = CancerEvolutionVisualization
	url = https://github.com/cran/CancerEvolutionVisualization
[submodule "ISOpureR"]
	path = ISOpureR
	url = https://github.com/cran/ISOpureR
[submodule "iSubGen"]
	path = iSubGen
	url = https://github.com/cran/iSubGen
[submodule "SeqKat"]
	path = SeqKat
	url = https://github.com/cran/SeqKat
[submodule "VennDiagram"]
	path = VennDiagram
	url = https://github.com/cran/VennDiagram
