[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ApplyPolygenicScore"]
	path = ApplyPolygenicScore
	url = https://github.com/cran/ApplyPolygenicScore
[submodule "ISOpureR"]
	path = ISOpureR
	url = https://github.com/cran/ISOpureR
[submodule "OmicsQC"]
	path = OmicsQC
	url = https://github.com/cran/OmicsQC
[submodule "OutSeekR"]
	path = OutSeekR
	url = https://github.com/cran/OutSeekR
[submodule "SeqKat"]
	path = SeqKat
	url = https://github.com/cran/SeqKat
[submodule "iSubGen"]
	path = iSubGen
	url = https://github.com/cran/iSubGen
